<div class="col-xs-10 well clearfix">
<%= form_for @roster, method: "patch" do |f| %>
  <table class="table table-bordered table-hover">
    <tr>
      <th>Roster Slot</th>
      <th>Player</th>
    </tr>
    <% for i in 1..@roster.player_max %>
      <tr>
        <td>
          <%= "Slot #{i}" %>
          <% if i > (@roster.player_max - ir_slot_count) %>
            <b><%= " - IR Player Only" %></b>
          <% end %>
        </td>
        <td>
          <%= f.collection_select :player_ids, @players, :id, :name_for_select,
              {include_blank: 'None', selected: @roster.player_ids[i - 1] },
              { name: "roster[player_ids][]", class: "form-control input-sm", id: "update_select"  } %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= f.submit "Update Players", class: "btn btn-primary"%>
<% end %>
</div>
