<% row_player = find_player(player_id) %>
<% player_games = 0 %>
<tr>
  <td><%= find_position(pos).name || "Empty" %></td>
  <td>
    <%= row_player ? "#{row_player.name} #{row_player.team.name.upcase} - #{get_player_positions(row_player)}" : "Empty" %>
  </td>
  <% conflicts = 0 %>
  <% for j in 0..13 %>
    <% if @daily_rosters[j][:conflicts].include?(player_id) %>
      <% conflicts += 1 %>
      <% conflict_status = true %>
    <% else %>
      <% conflict_status = false %>
    <% end %>
    <% parsed_datetime = (changed_week + j.day).beginning_of_day %>
    <% if row_player %>
      <% game = row_player.team.games.find_by(date: parsed_datetime) %>
      <% if game %>
        <% player_games += 1 %>
        <%= raw highlight?(parsed_datetime, conflict_status) %>
          <%= (game.teams - [row_player.team]).first.name %>
        </td>
      <% else %>
        <%= raw highlight?(parsed_datetime, conflict_status) %>
        </td>
      <% end %>
    <% else %>
      <%= raw highlight?(parsed_datetime, conflict_status) %>
      </td>
    <% end %> 
    <% if j == 6 || j == 13 %>
      <td bgcolor="DCDCDC"><%= row_player ? player_games : "0" %></td>
      <td bgcolor="DCDCDC"><%= conflicts %></td>
      <% conflicts = 0 %>
      <% player_games = 0 %>
    <% end %>
  <% end %>
</tr>