<% @week_games = [0,0] %>
<% @week_starts = [0,0] %>
<% @day_totals = [] %>
<% @day_totals.fill(0, 0..13) %>
<% @week_conflicts = [0,0] %>
<table class="table table-bordered table-hover table-responsive">
  <%= render 'table_headers', player_title: "Forwards/Defensemen", white_space: "____________" %>
  <tbody>
    <% @daily_rosters[(changed_week.to_date - changed_date.to_date).to_i].select { |pos, players| ![5, :conflicts].include?(pos) }.each do |pos, players| %>
      <% players.select { |player_id| find_player(player_id).nil? || !find_player(player_id).position_ids.include?(5) }.each do |player_id| %>
        <%= render 'player_row', player_id: player_id, pos: pos %>
      <% end %>
    <% end %>
    <tr>
      <td>-</td>
      <th>Total Games</th>
      <% for i in 0..13 do %>
        <%= raw highlight?(changed_week + i.day, false) %><%= @day_totals[i] %></td>
        <% if i == 6 || i == 13 %>
          <% i == 6 ? w = 0 : w = 1 %>
          <td class="games-col"><%= @week_games[w] %></td>
          <td class="starts-col"><%= @week_starts[w] %></td>
          <td class="games-col">-</td>
        <% end %>
      <% end %>
    </tr>
  </tbody>
</table>