<div class='well col-md-10'>
  <%= form_tag link_path, method: form_method, class: "form-horizontal" do %>
  <div class="form-group">
    <div class="col-xs-2 text-right">
      <%= label_tag :team_name, "Team Name" %> 
    </div>
    <div class="col-xs-3">
        <%= text_field_tag :team_name, nil, class: "form-control", placeholder: "Team Name",
            value: @roster.name %>
    </div>
  </div>
  <hr>

  <% Position.all.each do |position| %>
    <% symbol = position.name.to_sym %>
    <div class="form-group"> 
      <div class="col-xs-2 text-right">
        <%= label_tag symbol, position.name %>
      </div>
      <div class="col-xs-2">
        <%= number_field_tag symbol, default_value(position, symbol), min: 0, max: 10,
            class: "form-control" %>
      </div>
    </div>
  <% end %>

  <hr>
  <div class="form-group"> 
    <div class="col-md-offset-2">
      <div class="col-md-10">
        <%= submit_tag submit_wording, value: submit_wording, class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
  <% end %>
</div>