<p class='lead'><%= @roster.name %></p>
<%= link_to roster_path(@roster) do %>
  <i class="glyphicon glyphicon-arrow-left"></i>
  <span>Return to Roster Page</span>
<% end %>
<hr>
<ul class="nav nav-tabs", id="edit-tabs">
  <%= render 'edit_tabs' %>
</ul>
<br>

<div id="edit-tab-contents">
  <% if params[:tab] == "positions" %>
    <%= render 'roster_positions', submit_wording: "Update Roster Positions",
               link_path: roster_path(@roster), form_method: 'put' %>
  <% else %>
    <%= render 'edit_players' %>
  <% end %>
</div>