<h3>Team Schedule</h3>
<hr>

<div class="btn-group">
  <%= link_to team_schedule_path(week_change: @week_change - 1), class: "btn btn-warning", remote: false do %>
    <i class="glyphicon glyphicon-chevron-left"></i>
    <span>Previous Week</span>
  <% end %> 
  <%= link_to team_schedule_path(week_change: @week_change + 1), class: "btn btn-warning", remote: false do %>
    <span>Next Week</span>
    <i class="glyphicon glyphicon-chevron-right"></i>
  <% end %>
</div>
<br>
<br>
<%= render 'team_table', team_group: @teams.limit(10) %>
<%= render 'team_table', team_group: @teams.offset(10).limit(10) %>
<%= render 'team_table', team_group: @teams.offset(20).limit(10) %>
<hr>