<% binding.pry %>
<script type="text/javascript" charset="utf-8">  
  $(function() {
    $('#report_button').click(function() {
      $('#report_button').html("<%= escape_javascript(render 'loading_button') %>");
    });
  });
</script>


<p class='lead'>
  <%= @roster.name %>
</p>

<%= link_to edit_roster_path do %>
  <i class="glyphicon glyphicon-plus"></i>
  <span>Update Roster</span>
<% end %>
<span> | </span>
<%= link_to roster_path, method: "delete", data: { confirm: "Delete #{@roster.name.titleize}?" } do %>
  <i class="glyphicon glyphicon-remove"></i>
  <span>Delete Roster</span>
<% end %> 

<hr>
<%= render 'day_buttons' %>
<%= render 'week_buttons' %>
<br>
<br>
<div class="panel panel-default panel-hockey" id="player_table">
  <%= render 'player_table' %>
</div>
<div class="panel panel-default panel-hockey" id="goalie_table">
  <%= render 'goalie_table' %>
</div>
<%= render "legend" %>
<br>
<%= render 'drop_interface' %>
<%= render 'player_report' %>
<hr>
<br>