<% binding.pry %>
<h3><%= @roster.name %></h3>
<hr>
<table class="table table-bordered table-hover">
  <tr>
    <th>Pos</th>
    <th>Forwards/Defenseman</th>
    <% for i in 0..13 %>
      <th><%= table_time(Time.now.beginning_of_week + i.day) %></th>
      <% if [6,13].include?(i) %>
        <th><%= "Games" %></th>
        <th><%= "Conflicts" %></th>
      <% end %>
    <% end %>
  </tr>
  <% @roster.hash(Date.today.beginning_of_day).select { |pos, players| pos != 5 }.each do |pos, players| %>
    <% players.select { |player_id| find_player(player_id).nil? || !find_player(player_id).position_ids.include?(5) }.each do |player_id| %>
      <%= render 'player_table', player_id: player_id, pos: pos %>
    <% end %>
  <% end %>
</table>
<br>

<table class="table table-bordered table-hover">
  <tr>
    <th>Pos</th>
    <th>Goaltenders</th>
    <% for i in 0..13 %>
      <th><%= table_time(Time.now.beginning_of_week + i.day) %></th>
      <% if [6,13].include?(i) %>
        <th><%= "Games" %></th>
        <th><%= "Conflicts" %></th>
      <% end %>
    <% end %>
  </tr>
  <% @roster.hash(Date.today.beginning_of_day).select { |pos, players| pos == 5 }.each do |pos, players| %>
    <% players.each do |player_id| %>
      <%= render 'player_table', player_id: player_id, pos: pos %>
    <% end %>
  <% end %>
  <% @roster.hash(Date.today.beginning_of_day).select { |pos, players| [8,9].include?(pos) }.each do |pos, players| %>
    <% players.select { |player_id| !find_player(player_id).nil? && find_player(player_id).position_ids.include?(5) }.each do |player_id| %>
      <%= render 'player_table', player_id: player_id, pos: pos %>
    <% end %>
  <% end %>
</table>
<br>
<%= link_to "Update roster", edit_roster_path, class: "btn btn-primary"%>